DEBUG=True
SECRET_KEY=chaveSecreta
ALLOWED_HOSTS=localhost, 127.0.0.1
DATABASE_URL=postgres://docker:docker@localhost/testdb
LANGUAGE_CODE=
TIME_ZONE=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=